body {
    background-color: #f8f1f1;
}

.nav-item {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.title__center {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
    font-family: 'Acme', sans-serif;
    font-size: 3.5rem;
    
    
    .title__center--h3 {
        font-size: 2rem;
        color: #9900ff;
    }

}

.font-family{
    font-family: 'Acme', sans-serif;
}

.bg {
    background-image: linear-gradient(to top right, rgb(101, 115, 255), rgb(111, 114, 247), rgb(120, 114, 239), rgb(130, 113, 231), rgb(139, 112, 223), rgb(149, 111, 215), rgb(158, 111, 208), rgb(168, 110, 200), rgb(177, 109, 192), rgb(187, 108, 184), rgb(196, 108, 176), rgb(206, 107, 168));
}

.section__center {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;

    .title__center--h2 {
        margin-bottom: 40px;
        font-size: 2.5rem;
        font-family: 'Acme', sans-serif;
    }

}

.title__center--p {
    font-size: 1.5rem;
    padding: 20px;
}

span {
    font-weight: bold;
    font-size: 30px;
    color: #f8f1f1;
}

.container-svg {
    .row {
        .cards-padd {
            padding-top: 50px;
        }
    }
}

.footer-link {
    text-decoration: none;
    font-size: 1.1rem;
}

.social {
    font-size: 3rem;
    color: white;
}

.ancho {
    width: 18rem;
}

.text_purple {
    color: #654062;
    font-size: 1.5rem;
}

.color-violet{
    color: #9900ff;
}